* {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --yellow: #f7c326;
}
body,
html {
  position: relative;
  overflow: hidden;
}

.container-page {
  height: 100vh;
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.nav {
  z-index: 101;
  color: white;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}

.logo {
  font-size: 30px;
  font-weight: 900;
  cursor: pointer;
  animation: top-down 1.5s forwards;
}

.cart {
  font-size: 30px;
  cursor: pointer;
  animation: rigth-left 1.5s forwards;
}

.menu {
  top: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 101;
  animation: left-rigth 1.5s forwards;
}
.hamburger {
  position: relative;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 30px;
  height: 3px;
  border-radius: 0.5rem;
  background-color: #fff;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
}

.hamburger::before {
  top: 10px;
}

.hamburger::after {
  top: -10px;
}

.sci {
  z-index: 3;
  color: #fff;
  display: flex;
  position: fixed;
  right: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 100%;
  animation: rigth-left 1.5s forwards;
}

.sci i {
  font-size: 25px;
  margin-bottom: 10px;
  cursor: pointer;
}
.sci i:hover {
  transform: rotate(30deg);
  transition: 0.5s ease-in-out;
}

.fashion {
  z-index: 2;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  font-size: 20px;
  font-weight: 600;
  animation: left-rigth 1.5s forwards;
}

.z-index-99 {
  z-index: 99 !important;
}

.text-yellow {
  color: var(--yellow);
}

.col-5 {
  width: 41.66%;
}

.col-7 {
  width: 58.33%;
}

.info {
  color: #fff;
  text-align: right;
  position: relative;
  display: flex;
  /* overflow: hidden; */
  width: 100%;
  height: 80%;
  align-items: center;
}

.info h1 {
  font-size: 150px;
  font-weight: 900;
  line-height: 140px;
}

.info p {
  margin: 50px 0;
  text-align: left;
}

.info button {
  font-size: 30px;
  padding: 10px 50px;
  border-radius: 30px;
  outline: transparent;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.info button:hover {
  background-color: #fff;
  color: #000;
}

.product-info {
  position: absolute;
  width: 100%;
  height: fit-content;
  left: 0;
  padding: 0 80px;
  pointer-events: none;
}

.product-info.active {
  pointer-events: visible;
}

.product-info h1,
.product-info > span,
.product-info p,
.product-info button {
  opacity: 0;
  transition: unset;
}

.product-info button {
  transition-delay: 0.3s;
}

.product-info.active h1,
.product-info.active > span,
.product-info.active p,
.product-info.active button {
  opacity: 1;
  transition: opacity 1s, transform 1.2s, letter-spacing 1.2s, rigth 1.2s;
}

.product-info h1 {
  letter-spacing: 20px;
}

.product-info.active h1 {
  letter-spacing: unset;
}

.product-info > span {
  position: absolute;
  right: 200px;
}

.product-info.active > span {
  right: 80px;
}

.product-info p,
.product-info button {
  transform: translateY(100px);
}

.product-info.active p,
.product-info.active button {
  transform: translateY(0px);
}

[class*='col-'] {
  display: flex;
  align-items: center;
  z-index: 2;
}

.slider {
  display: flex;
  align-items: center;
  position: relative;
  width: 50%;
  height: 80%;
  overflow: visible;
}

.slide {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  transition: 1s ease-in-out;
  animation: bottom-up 2s forwards;
}

.slide:nth-child(1) {
  z-index: 4;
}

.slide:nth-child(2) {
  z-index: 2;
  width: 80%;
  height: 80%;
  left: 70%;
}

.slide:nth-child(3) {
  z-index: 1;
  width: 60%;
  height: 60%;
  left: 120%;
}
.slide:nth-child(4) {
  z-index: 0;
  width: 60%;
  height: 60%;
  left: 120%;
  transform: scale(0);
}

.img-holder {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-control {
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: 0.3s ease;
  transform: translate(-50%);
}

.slide-control:hover {
  background-color: #fff;
  color: #000;
}

@keyframes top-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bottom-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes left-rigth {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rigth-left {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.nav-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 101;
  top: 80px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: 0.5s;
}

.nav-overlay.active {
  width: 100%;
}

.nav-overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.nav-overlay a {
  padding: 8px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.nav-overlay a:hover {
  color: #f1f1f1;
}
/* Responsive */
@media only screen and (max-width: 768px) {
  .col-5,
  .col-7 {
    width: 100%;
    height: 50%;
  }

  .logo {
    font-size: 1rem;
  }
  .container-page {
    flex-direction: column-reverse;
  }
  .info {
    align-items: flex-start;
  }

  .info h1 {
    font-size: 40px;
    line-height: 40px;
    text-align: left;
  }

  .info p {
    font-size: 12px;
    text-align: justify;
    margin: 25px 0;
  }

  .info button {
    font-size: 10px;
    padding: 10px 20px;
    text-align: left;
  }

  .product-info {
    width: 90%;
    height: 60%;
    padding: 0 20px !important;
  }

  .slider {
    width: 80%;
    height: 80%;
    transform: translateY(20%);
    padding: 50px;
  }

  .button-shop {
    text-align: left;
  }
  .nav {
    padding: 0 18px;
  }
}

@media only screen and (max-width: 1024px) {
  .info {
    align-items: flex-start;
  }

  .product-info {
    padding: 0 50px;
  }

  .slider {
    width: 50%;
    height: 60%;
    transform: translateY(20%);
  }
}
